CENTRAL_SERVER=10.0.0.4
CENTRAL_DATABASE=AUXILIAR
CENTRAL_USER=Batch
CENTRAL_PASSWORD=

SP_PARAM_1=SC2017
SP_PARAM_2=1

OUTPUT_ROOT=./Documentos
LOGS_ROOT=./Logs
SQL_BACKEND=auto
ODBC_DRIVER=ODBC Driver 18 for SQL Server
QUERY_TIMEOUT=60
